# Virtual environments
.venv/
venv/

# Environment files
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs
*.log

# Node modules (if you have a frontend)
node_modules/

# Build outputs
dist/
build/
